<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Adopt a puppy</h1>
    
    <form method="post" action="/getpuppy">
      <label for="name">Puppy name:</label>
      <input type="text" id="name" name="name"> 
      <
    </form>