<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Puppy</h1>
    
    <h2>Puppy Name: <%= @puppy.name %></h2>
    <h2>Breed: <%= @puppy.breed %></h2>
    <h2>Age: <%= @puppy.age %></h2>
    
  </body>
 </head>
</html>